<footer class="footer">
  <div class="cont">
    <div class="footer__wrap">
      <div class="footer__left-top">
        <div class="footer__navbar">
          <a href="#">Product</a>
          <a href="#">Integration</a>
          <a href="#">Plans</a>
          <a href="#">Help</a>
        </div>
      </div>
      <div class="footer__center">
        <div class="logos-container footer__logos not-starting-animation">
          <div class="logo-item center-logo">
            <img loading="lazy" src="./images/logo-small.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="25" class="logo-item circle-size-72">
            <img loading="lazy" src="./images/icons/google.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="25" data-start-delay="0.3" class="logo-item circle-size-36">
            <img loading="lazy" src="./images/icons/telegram.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="30" data-start-delay="0.1" class="logo-item circle-size-64">
            <img loading="lazy" src="./images/icons/tiktok.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="20" data-start-delay="0.3" class="logo-item circle-size-36">
            <img loading="lazy" src="./images/icons/x.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="15" data-start-delay="0.2" class="logo-item circle-size-48">
            <img loading="lazy" src="./images/icons/youtube.svg" alt="SYNALYT Logo" />
          </div>
          <div data-attraction-force="30" data-start-delay="0.1" class="logo-item circle-size-64">
            <img loading="lazy" src="./images/icons/meta.svg" alt="SYNALYT Logo" />
          </div>
        </div>
      </div>
      <div class="footer__right-top">
        <div class="body-text-14 footer__nav-title">
          Contact us
        </div>
        <div class="footer__contacts">
          <a class="footer__contact-link" href="#">info@synalyt.com</a>
          <a class="footer__contact-link" href="#">support@synalyt.com</a>
        </div>
      </div>
      <div class="footer__right-bottom">
        <div class="body-text-14 footer__nav-title">
          We are in Social Media
        </div>
        <div class="socials footer__socials">
          <a target="_blank" class="social-link" href="#">
            <i class="icon-facebook"></i>
          </a>
          <a target="_blank" class="social-link" href="#">
            <i class="icon-instagram"></i>
          </a>
          <a target="_blank" class="social-link" href="#">
            <i class="icon-youtube"></i>
          </a>
          <a target="_blank" class="social-link" href="#">
            <i class="icon-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="footer__left-bottom">
        <a href="./index.html" class="footer__logo">
          <img loading="lazy" src="./images/logo.svg" alt="SYNALYT Logo" />
        </a>
        <p class="body-text-16">© Copyright 2025 SYNALYT. All rights reserved</p>
      </div>
      <div class="footer__bottom-info">
        <div class="footer__navbar">
          <a href="./policy.html">Privacy Policy</a>
          <a href="./cookies.html">Cookies</a>
        </div>
        <div class="footer__dev">
          <img loading="lazy" src="./images/ua.png" alt="UA Flag">
          <p>Made in Ukraine</p>
        </div>
      </div>
    </div>
  </div>
</footer>
