<header class="header fixed">
  <div class="cont">
    <div class="navbar">
      <a href="#" class="logo">
        <img src="./images/logo.svg" alt="Logo" />
      </a>
      <nav class="nav-slide-right navbar-nav">
        <div class="menu" data-simplebar>
          <ul class="menu-list">
            <li class="menu-item">
              <a class="menu-link" href="#">Product</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Integration</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Plans</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Help</a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="header-additional">
          <div class="buttons">
            <button onclick="openPopup('get-started-popup'); return false;" class="menu-link">Log in</button>
            <button onclick="openPopup('get-started-popup'); return false;" class="btn small-size second-type whitespace-nowrap">
              Get started
            </button>
          </div>
        </div>
      </nav>
      <div class="header-additional-mob">
        <div class="buttons">
          <button onclick="openPopup('get-started-popup'); return false;" class="menu-link">Log in</button>
          <button onclick="openPopup('get-started-popup'); return false;" class="btn small-size second-type whitespace-nowrap">
            Get started
          </button>
        </div>
      </div>
      <div class="header-language-wr">
        <div class="project-dropdown-btn-wr">
          <button class="project-dropdown-open-btn header-language-btn">
            <i class="icon-language"></i>
            <span class="project-dropdown-placeholder">Eng</span>
            <i class="icon-arrow-dropdown"></i>
          </button>

          <div style="z-index: 10000"
               class="project-dropdown-btn-content if-bottom-position if-left-position if-mobile-right-position if-hidden-on-scroll">
            <div class="project-dropdown-btn-content__list">
              <button data-placeholder-value="Eng" class="project-dropdown-btn-content__link is-selected">English</button>
              <button data-placeholder-value="Укр" class="project-dropdown-btn-content__link">Український</button>
            </div>
          </div>
        </div>
      </div>
      <div class="burger menu-toggle">
        <svg class="burger-icon" viewbox="0 0 100 100">
          <path
                  class="line top"
                  d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"
          ></path>
          <path class="line middle" d="m 70,50 h -40"></path>
          <path
                  class="bottom line"
                  d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</header>

<div class="header-close-wrapper"></div>