<header class="header">
  <div class="cont">
    <div class="navbar">
      <a href="./index.html" class="logo">
        <img src="./images/logo.svg" alt="" />
      </a>
      <nav class="navbar-nav nav-slide-right">
        <ul class="menu">
          <li class="menu-item">
            <a class="menu-link" href="./index.html">Product</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="./about-us.html">Integration</a>
          </li>
          <!-- <li class="menu-item dropdown">
            <a class="menu-link dropdown-toggle" href="./job-search.html"
            >Job Board</a
            >
            <ul class="dropdown-menu">
              <li><a class="menu-link" href="/">engineering</a></li>
              <li><a class="menu-link" href="/">software & it</a></li>
            </ul>
          </li> -->
          <li class="menu-item">
            <a class="menu-link" href="./insights.html">Plans</a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="./client-hub.html">Help</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="./contact-us.html">Contacts</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="./usecases.html">Use Cases</a>
          </li>
          <li class="menu-item is-login">
            <button class="menu-link">Log in</button>
            <button class="btn second-type small-size">
              Get started
            </button>
          </li>
        </ul>
      </nav>
      <div class="burger menu-toggle">
        <span></span>
      </div>
    </div>
  </div>
</header>

<div class="header-close-wrapper"></div>