<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5"
  />
  <link rel="icon" type="image/x-icon" href="./images/logo.svg" />
  <title><%- locals.title %></title>

  <!-- normalize -->
  <link href="./css/plugins/normalize.css" type="text/css" rel="stylesheet" />

  <!--Swiper-->
  <link href="./css/plugins/swiper-bundle.min.css" type="text/css" rel="stylesheet" />

  <!--TailwindCSS-->
  <link href="./css/tailwind.css" type="text/css" rel="stylesheet" />

  <!--Project Styles-->
  <link href="./css/style.css" type="text/css" rel="stylesheet" />
</head>
