<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5"
  />

  <link rel="icon" type="image/x-icon" href="./images/favicon-light.ico" media="(prefers-color-scheme: light)" />
  <link rel="icon" type="image/x-icon" href="./images/favicon-dark.ico" media="(prefers-color-scheme: dark)" />

  <title><%- locals.title %></title>

  <!-- normalize -->
  <link href="./css/plugins/normalize.css" type="text/css" rel="stylesheet" />

  <!--Swiper-->
  <link href="./css/plugins/swiper-bundle.min.css" type="text/css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.plyr.io/3.8.3/plyr.css" />

  <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting.css" />
  <link rel="stylesheet" href="https://unpkg.com/splitting/dist/splitting-cells.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.3.2/simplebar.min.css" integrity="sha512-rptDreZF629VL73El0GaBEH9tlYEKDJFUr+ysb+9whgSGbwYfGGA61dVtQFL0qC8/SZv/EQFW5JtwEFf+8zKYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--TailwindCSS-->
  <link href="./css/tailwind.css" type="text/css" rel="stylesheet" />

  <!--Project Styles-->
  <link href="./css/style.css" type="text/css" rel="stylesheet" />

  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/scroll-lock/2.1.2/scroll-lock.min.js"
          integrity="sha512-MBbICakhGbnckq5iFnAvaoTQwTyZqIEdhXGbzpNvGhkr+ZhjRdaVmJuNCVyZkObp5O/Mlows81qbzLAalgnoIg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js"
          integrity="sha512-NkLfoy5pkmAKUxk/OXl9vi1PDSFnEEJ3bDFdX0ln1L0pto6jM7On0lLsjhNC62i2ifyXhPWjPpcGEXawBfErtQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
</head>
