<!DOCTYPE html>
<html lang="en">
	<%- include('html/html-top.ejs', {title: "Home"}) %>
	<body>
		<div id="site">
			<%- include('html/header.ejs') %>

			<main class="main" id="content">
				<section class="hero-sec home-hero-sec">
					<div class="cont">
						<div class="hero-sec__wrap">
							<div class="hero-sec__content">
								<div data-aos class="title-animation heading-64 bold-type hero-sec__title">
									<h1 data-splitting>
										Analyze your advertising channels with<strong class="highlight-words">SYNALYT</strong>
									</h1>
								</div>
								<div data-aos="fade" data-aos-delay="300" data-aos-offset="5" class="content-element cl-grey body-text-32 hero-sec__text">
									<p>
										all information about traffic, conversions and leads
									</p>
								</div>
								<div data-aos="fade" data-aos-delay="400" data-aos-offset="5" class="buttons hero-sec__buttons">
									<button onclick="openPopup('request-popup'); return false;" class="btn">
										Call me back
									</button>
								</div>
								<div class="hero-sec__bg-image">
									<picture>
										<source
											srcset="./images/hero-img.webp"
											type="image/webp"
										/>
										<img loading="lazy" src="./images/hero-img.png" alt="BG Image" />
									</picture>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="video-sec" class="video-sec">
					<div class="cont">
						<div class="video-sec__wrap">
							<div data-aos="fade-up" data-aos-offset="5" class="video-sec__video">
								<video
									class="video-player"
									playsinline
									controls
									poster="./images/video-poster.webp"
									data-poster="./images/video-poster.webp">
									<source
										src="./images/test-video.mp4"
										type="video/mp4" />
								</video>

								<!--<div class="video-player">
									&lt;!&ndash;https://www.youtube.com/embed/bTqVqk7FSmY&ndash;&gt;
									<iframe
										src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
										allowfullscreen
										allowtransparency
										allow="autoplay"
									></iframe>
								</div>-->

								<a href="#" class="video-sec__more-btn">
									<i class="icon-play"></i> See more video about SYNALYT
								</a>
							</div>
						</div>
					</div>
				</section>

				<section id="conversion-sec" class="conversion-sec">
					<div class="cont">
						<div class="conversion-sec__wrap">
							<div data-aos class="title-animation heading-64 conversion-sec__title">
								<h2 data-splitting>
									Identify the<strong class="highlight-words">conversion</strong>source
								</h2>
							</div>
							<div class="conversion-sec__list">
								<div data-aos class="line-decor"></div>

								<div class="conversion-sec__item">
									<h3 data-aos="fade-right" class="heading-32 conversion-sec__item-title">
										Show you which channels<br>
										bring your clients
									</h3>
									<div data-aos="fade-right" class="content-element body-text-24 cl-grey conversion-sec__item-text">
										<p>
											Identify whether clients come from ads, social media, search, or email, and measure the exact impact of each channel on your sales.
										</p>
									</div>
									<div data-aos="fade-right" class="conversion-sec__item-image">
										<picture>
											<source
												srcset="./images/conversion-img-1.webp"
												type="image/webp"
											/>
											<img loading="lazy" src="./images/conversion-img-1.png" alt="Image" />
										</picture>
									</div>
									<div class="conversion-sec__item-border"></div>
								</div>

								<div class="conversion-sec__item">
									<h3 data-aos="fade-left" class="heading-32 conversion-sec__item-title">
										Set up analytics and Synalyt tags for accurate tracking
									</h3>
									<div data-aos="fade-left" class="content-element body-text-24 cl-grey conversion-sec__item-text">
										<p>
											Configure analytics and Synalyt tags to monitor leads and sales with precision, ensuring clear insights into each channel’s performance.
										</p>
									</div>
									<div data-aos="fade-left" class="conversion-sec__item-image">
										<picture>
											<source
												srcset="./images/conversion-img-2.webp"
												type="image/webp"
											/>
											<img loading="lazy" src="./images/conversion-img-2.png" alt="Image" />
										</picture>
									</div>
									<div class="conversion-sec__item-border"></div>
								</div>

								<div data-aos class="line-decor"></div>

								<div class="conversion-sec__item">
									<h3 data-aos="fade-right" class="heading-32 conversion-sec__item-title">
										Optimize your<br> advertising budget
									</h3>
									<div data-aos="fade-right" class="content-element body-text-24 cl-grey conversion-sec__item-text">
										<p>
											Evaluate the efficiency of your ad spend, cut ineffective traffic sources, and focus your budget only on marketing channels that deliver results.
										</p>
									</div>
									<div data-aos="fade-right" class="conversion-sec__item-image">
										<picture>
											<source
												srcset="./images/conversion-img-3.webp"
												type="image/webp"
											/>
											<img loading="lazy" src="./images/conversion-img-3.png" alt="Image" />
										</picture>
									</div>
									<div class="conversion-sec__item-border"></div>
								</div>

								<div class="conversion-sec__item">
									<h3 data-aos="fade-left" class="heading-32 conversion-sec__item-title">
										Increase conversions and reduce the cost of customer acquisition
									</h3>
									<div data-aos="fade-left" class="content-element body-text-24 cl-grey conversion-sec__item-text">
										<p>
											Enhance your sales funnel and boost conversion rates, enabling your business to attract more customers at lower overall acquisition costs.
											Enhance your sales funnel and boost conversion rates, enabling your business to attract more customers at lower overall acquisition costs.
										</p>
									</div>
									<div data-aos="fade-left" class="conversion-sec__item-image">
										<picture>
											<source
												srcset="./images/conversion-img-4.webp"
												type="image/webp"
											/>
											<img loading="lazy" src="./images/conversion-img-4.png" alt="Image" />
										</picture>
									</div>
									<div class="conversion-sec__item-border"></div>
								</div>
								<div data-aos class="line-decor"></div>
							</div>
						</div>
					</div>
				</section>

				<section id="table-sec" class="table-sec">
					<div class="cont">
						<div class="table-sec__wrap">
							<div data-aos class="title-animation heading-64 table-sec__title">
								<h2 data-splitting>
									What<strong class="highlight-words">SYNALYT</strong>offers<br> that GA4 doesn’t
								</h2>
							</div>
							<div data-aos="fade-up" data-simplebar class="table-sec__table-wr">
								<table class="body-text-20 table-sec__table">
									<thead>
									<tr>
										<th>Feature</th>
										<th>GA4</th>
										<th>End-To-End Analytics</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Conversion tracking</td>
										<td class="cl-green">Basic event conversions</td>
										<td class="cl-green">+ Real revenue per client (profit,<br class="max-xl:hidden"> not just events)
										</td>
									</tr>
									<tr>
										<td>Channel & source attribution</td>
										<td class="cl-green">Last-click only</td>
										<td class="cl-green">+ Multi-level source tracking (channel, campaign, add group, keyword)</td>
									</tr>
									<tr>
										<td>Revenue-based campaign analysis</td>
										<td class="cl-red">None</td>
										<td class="cl-green">+ Evaluation based on client profit,<br class="max-xl:hidden"> not add platform
											conversions
										</td>
									</tr>
									<tr>
										<td>Organic vs. paid traffic differentiation</td>
										<td class="cl-green">Limited</td>
										<td class="cl-green">+ Clear client origin (Google, Meta,<br class="max-xl:hidden"> SEO, etc.)</td>
									</tr>
									<tr>
										<td>Fraud & bot traffic detection</td>
										<td class="cl-green">None</td>
										<td class="cl-green">+ Identification bot traffic,<br class="max-xl:hidden"> protect budget</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>

				<section id="tage-sec" class="tags-sec">
					<div class="cont">
						<div class="tags-sec__wrap">
							<div data-aos class="title-animation heading-64 tags-sec__title">
								<h2 data-splitting>
									Marking advertising channels<br> with<strong class="highlight-words">SYNALYT</strong>tags
								</h2>
							</div>
							<div class="tags-sec__list">
								<div data-aos="fade-up" class="tags-sec__item">
									<div class="tags-sec__item-heading">
										<div class="tags-sec__item-icon">
											<img loading="lazy" src="./images/tags-icon-1.svg" alt="Tracking icon" />
										</div>
										<h3 class="heading-20 tags-sec__item-title">
											Tracking
										</h3>

									</div>
									<div class="content-element body-text-24 cl-grey tags-sec__item-text">
										<p>
											SYNALYT tag-based tracking makes it easy to analyze digital campaigns and measure ad performance with accuracy across all marketing channels.
										</p>
									</div>
								</div>

								<div data-aos="fade-up" data-aos-delay="100" class="tags-sec__item">
									<div class="tags-sec__item-heading">
										<div class="tags-sec__item-icon">
											<img loading="lazy" src="./images/tags-icon-2.svg" alt="Analytics icon" />
										</div>
										<h3 class="heading-20 tags-sec__item-title">
											Analytics
										</h3>

									</div>
									<div class="content-element body-text-24 cl-grey tags-sec__item-text">
										<p>
											Advanced analytics and conversion tracking reveal which traffic sources bring valuable customers and which channels waste your advertising budget.
										</p>
									</div>
								</div>

								<div data-aos="fade-up" data-aos-delay="200" class="tags-sec__item">
									<div class="tags-sec__item-heading">
										<div class="tags-sec__item-icon">
											<img loading="lazy" src="./images/tags-icon-1.svg" alt="Optimize icon" />
										</div>
										<h3 class="heading-20 tags-sec__item-title">
											Optimize
										</h3>
									</div>
									<div class="content-element body-text-24 cl-grey tags-sec__item-text">
										<p>
											Data-driven optimization redirects spend to high-performing channels, lowers acquisition costs, and maximizes return on every marketing dollar.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="platform-sec" class="platform-sec">
					<div class="cont">
						<div data-aos="fade" class="platform-sec__wrap">
							<div class="logos-container platform-sec__logos">
								<div class="logo-item center-logo">
									<img loading="lazy" src="./images/logo-small.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="40" class="logo-item circle-size-72">
									<img loading="lazy" src="./images/icons/google.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="35" data-start-delay="0.3" class="logo-item circle-size-36">
									<img loading="lazy" src="./images/icons/telegram.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="40" data-start-delay="0.1" class="logo-item circle-size-64">
									<img loading="lazy" src="./images/icons/tiktok.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="30" data-start-delay="0.3" class="logo-item circle-size-36">
									<img loading="lazy" src="./images/icons/x.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="25" data-start-delay="0.2" class="logo-item circle-size-48">
									<img loading="lazy" src="./images/icons/youtube.svg" alt="SYNALYT Logo" />
								</div>
								<div data-attraction-force="40" data-start-delay="0.1" class="logo-item circle-size-64">
									<img loading="lazy" src="./images/icons/meta.svg" alt="SYNALYT Logo" />
								</div>
							</div>
							<div class="platform-sec__content">
								<div data-aos class="title-animation heading-64 platform-sec__title">
									<h2 data-splitting>
										One platform<strong class="highlight-words">for all</strong>marketing channels
									</h2>
								</div>
								<div data-aos="fade-left" class="content-element body-text-28 cl-grey platform-sec__text">
									<p>
										<strong class="highlight-words">SYNALYT</strong> helps track every buyer’s journey to the order.
									</p>
								</div>
								<div data-aos="fade-left" class="buttons platform-sec__buttons">
									<button onclick="openPopup('channels-popup'); return false;" class="btn second-type">
										View all channels
									</button>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="script-sec" class="script-sec">
					<div class="cont">
						<div class="script-sec__wrap">
							<div data-aos class="title-animation heading-64 script-sec__title">
								<h2 data-splitting>
									Unified<strong class="highlight-words">script</strong>to gather and analyze<br>
									all your traffic information
								</h2>
							</div>
							<div class="script-sec__container">
								<div class="script-sec__content">
									<div data-aos="fade-right" class="content-element body-text-24 cl-grey script-sec__text">
										<p>
											Collect all visitor information from your website in one place. Analyze user behavior, optimize your marketing, and boost conversions with a unified script. Gain valuable insights
											<br class="max-xl:hidden"> to improve campaigns and make data-driven decisions.
										</p>
									</div>
									<div class="script-sec__list">
										<div data-aos="fade-up" class="script-sec__item">
											<div class="script-sec__item-heading">
												<div class="script-sec__item-icon">
													<img loading="lazy" src="./images/script-icon-1.svg" alt="Script icon" />
												</div>
												<h3 class="heading-20 script-sec__item-title">
													Identify and track IP addresses — worldwide insights from global rankings
												</h3>
											</div>
										</div>

										<div data-aos="fade-up" class="script-sec__item">
											<div class="script-sec__item-heading">
												<div class="script-sec__item-icon">
													<img loading="lazy" src="./images/script-icon-2.svg" alt="Script icon" />
												</div>
												<h3 class="heading-20 script-sec__item-title">
													Bot Verification — keep your advertising channel secure <br class="max-xl:hidden">from fake users
												</h3>
											</div>
										</div>

										<div data-aos="fade-up" class="script-sec__item">
											<div class="script-sec__item-heading">
												<div class="script-sec__item-icon">
													<img loading="lazy" src="./images/script-icon-3.svg" alt="Script icon" />
												</div>
												<h3 class="heading-20 script-sec__item-title">
													User Device Identification — know what devices your <br class="max-xl:hidden">visitors use
												</h3>
											</div>
										</div>

										<div data-aos="fade-up" class="script-sec__item">
											<div class="script-sec__item-heading">
												<div class="script-sec__item-icon">
													<img loading="lazy" src="./images/script-icon-4.svg" alt="Script icon" />
												</div>
												<h3 class="heading-20 script-sec__item-title">
													Geo-Tracking for conversions — analyze location-based results and optimize campaigns
												</h3>
											</div>
										</div>
									</div>
									<div data-aos="fade-up" class="buttons script-sec__buttons">
										<a href="#" class="btn second-type">
											Get script
										</a>
									</div>
								</div>

								<div data-aos="fade-left" class="script-sec__image">
									<picture>
										<source
											srcset="./images/script-img.webp"
											type="image/webp"
										/>
										<img loading="lazy" src="./images/script-img.png" alt="Image" />
									</picture>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="strategy-sec" class="strategy-sec">
					<div class="cont">
						<div class="strategy-sec__wrap">
							<div data-aos class="title-animation heading-40 strategy-sec__title">
								<h2 data-splitting>
									From clicks to strategy
								</h2>
							</div>
							<h3 data-aos="fade-up" class="body-text-28 cl-grey strategy-sec__title">
								smarter<strong class="highlight-words">SYNALYT</strong>tracking
							</h3>
							<div class="strategy-sec__list">
								<div data-aos="fade-up" class="strategy-sec__item">
									<div class="content-element body-text-24 strategy-sec__item-text">
										<p>
											The resource analytics system provides valuable insights into user behavior: on-site activity, referral pages, and SYNALYT tags that help precisely track traffic sources and evaluate the effectiveness of advertising campaigns.
										</p>
									</div>
								</div>

								<div data-aos="fade-up" data-aos-delay="100" class="strategy-sec__item">
									<div class="content-element body-text-24 strategy-sec__item-text">
										<p>
											By effectively using these valuable metrics, administrators gain a powerful tool to significantly increase audience engagement, accurately identify the most effective promotion channels and optimize overall strategies.
										</p>
									</div>
								</div>

								<div data-aos="fade-up" data-aos-delay="200" class="strategy-sec__item">
									<div class="content-element body-text-24 strategy-sec__item-text">
										<p>
											This strategic and data-driven approach not only greatly improves overall understanding of users but also significantly boosts conversions, enhances marketing efficiency, and drives sustainable, long-term overall business growth.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="plan-sec" class="plan-sec">
					<div class="cont">
						<div class="plan-sec__wrap">
							<div data-aos class="title-animation heading-64 plan-sec__title">
								<h2 data-splitting>
									Choose<strong class="highlight-words">a plan</strong>for effective<br>
									marketing and promotion
								</h2>
							</div>
							<div data-aos="fade" class="plan-sec__container">
								<div class="plan-sec__item">
									<div class="plan-sec__item-bg"></div>
									<div class="plan-sec__item-heading">
										<h3 class="heading-40 plan-sec__item-plan">
											Basic
										</h3>
										<div class="heading-60 plan-sec__item-price">
											$25
											<div class="body-text-18 cl-grey plan-sec__item-price-info">
												/month
											</div>
										</div>
									</div>
									<div class="content-element body-text-18 cl-grey plan-sec__item-description">
										<p>
											Limited traffic
										</p>
									</div>
									<div class="content-element check-list body-text-20 plan-sec__item-list">
										<ul>
											<li>
												1 Project
											</li>
											<li>
												1 Compaigns
											</li>
											<li>
												3 Sources
											</li>
											<li>
												3 Actions
											</li>
											<li>
												Base Support (Email)
											</li>
										</ul>
									</div>
									<div class="buttons plan-sec__item-buttons">
										<a href="#" class="btn second-type">
											Get started
										</a>
									</div>
								</div>

								<div class="plan-sec__item">
									<div class="plan-sec__item-bg"></div>
									<div class="plan-sec__item-heading">
										<h3 class="heading-40 plan-sec__item-plan">
											Enterprise
										</h3>
										<div class="heading-60 plan-sec__item-price">
											$99+
											<div class="body-text-18 cl-grey plan-sec__item-price-info">
												/month
											</div>
										</div>
									</div>
									<div class="content-element body-text-18 cl-grey plan-sec__item-description">
										<p>
											Unlimited traffic
										</p>
									</div>
									<div class="content-element check-list body-text-20 plan-sec__item-list">
										<ul>
											<li>
												Unlimited Project
											</li>
											<li>
												Unlimited Compaigns
											</li>
											<li>
												Unlimited Sources
											</li>
											<li>
												Unlimited Actions
											</li>
											<li>
												Priority Support (Email/Chat)
											</li>
										</ul>
									</div>
									<div class="buttons plan-sec__item-buttons">
										<a href="#" class="btn second-type">
											Get started
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="accordion-sec" class="accordion-sec">
					<div class="cont">
						<div class="accordion-sec__wrap">
							<div data-aos class="title-animation heading-64 accordion-sec__title">
								<h2 data-splitting>
									We have some<strong class="highlight-words">answers</strong>
								</h2>
							</div>
							<div class="accordion-sec__accordion">
								<div data-aos="fade-right" class="accordion-sec__item active">
									<div class="accordion-sec__item-top">
										<h3 class="heading-20 accordion-sec__item-title">
											What is SYNALIT?
										</h3>
										<div class="accordion-sec__item-btn">
											<i class="icon-arrow-circle-down"></i>
										</div>
									</div>
									<div class="accordion-sec__item-hidden">
										<div class="accordion-sec__item-content">
											<div class="accordion-sec__item-text content-element body-text-20">
												<p>
													Synalyt is a system that tracks each client’s full journey — from the first click on your ad to the final purchase. It shows how much profit each channel brings, so you can make marketing decisions based on revenue, not just leads or conversions.
												</p>
											</div>
										</div>
									</div>
								</div>

								<div data-aos="fade-right" class="accordion-sec__item">
									<div class="accordion-sec__item-top">
										<h3 class="heading-20 accordion-sec__item-title">
											How is it different from Google Analytics?
										</h3>
										<div class="accordion-sec__item-btn">
											<i class="icon-arrow-circle-down"></i>
										</div>
									</div>
									<div class="accordion-sec__item-hidden">
										<div class="accordion-sec__item-content">
											<div class="accordion-sec__item-text content-element body-text-20">
												<p>
													Synalyt is a system that tracks each client’s full journey — from the first click on your ad to the final purchase. It shows how much profit each channel brings, so you can make marketing decisions based on revenue, not just leads or conversions.
												</p>
											</div>
										</div>
									</div>
								</div>

								<div data-aos="fade-right" class="accordion-sec__item">
									<div class="accordion-sec__item-top">
										<h3 class="heading-20 accordion-sec__item-title">
											What will I see in reports?
										</h3>
										<div class="accordion-sec__item-btn">
											<i class="icon-arrow-circle-down"></i>
										</div>
									</div>
									<div class="accordion-sec__item-hidden">
										<div class="accordion-sec__item-content">
											<div class="accordion-sec__item-text content-element body-text-20">
												<p>
													Synalyt is a system that tracks each client’s full journey — from the first click on your ad to the final purchase. It shows how much profit each channel brings, so you can make marketing decisions based on revenue, not just leads or conversions.
												</p>
											</div>
										</div>
									</div>
								</div>

								<div data-aos="fade-right" class="accordion-sec__item">
									<div class="accordion-sec__item-top">
										<h3 class="heading-20 accordion-sec__item-title">
											How long does setup take?
										</h3>
										<div class="accordion-sec__item-btn">
											<i class="icon-arrow-circle-down"></i>
										</div>
									</div>
									<div class="accordion-sec__item-hidden">
										<div class="accordion-sec__item-content">
											<div class="accordion-sec__item-text content-element body-text-20">
												<p>
													Synalyt is a system that tracks each client’s full journey — from the first click on your ad to the final purchase. It shows how much profit each channel brings, so you can make marketing decisions based on revenue, not just leads or conversions.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="form-sec" class="form-sec">
					<div class="cont">
						<div class="form-sec__wrap">
							<div data-aos class="title-animation heading-64 form-sec__title">
								<h2 data-splitting>
									How we can<strong class="highlight-words">help</strong>you?
								</h2>
							</div>
							<div class="form-sec__container">
								<div class="form-sec__content">
									<h3 data-aos="fade-right" class="body-text-32 form-sec__subtitle">
										Tell us how we can help
									</h3>
									<div data-aos="fade-right" class="content-element check-list body-text-20 form-sec__text">
										<p>
											Please fill out the form and we will contact you
										</p>
										<ul>
											<li>
												Request a demo
											</li>
											<li>
												Learn which plan is right for you
											</li>
											<li>
												Get onboarding help
											</li>
										</ul>
									</div>
									<div data-aos="fade-right" class="content-element body-text-20 cl-grey form-sec__second-text">
										<p>
											Technical issues or product questions?
										</p>
										<p>
											You can send email us at <a href="mailto:support@synalyt.com">support@synalyt.com</a>
										</p>
									</div>
								</div>
								<div  data-aos="fade-up" class="form-sec__form">
									<div class="form-sec__form-grid">
										<div class="project-input">
											<label for="form-full-name">Full name</label>
											<input type="text"
														 name="full_name"
														 id="form-full-name"
														 inputmode="text"
														 placeholder="Name"
														 >
										</div>
										<div class="project-input">
											<label for="form-email">Email</label>
											<input type="email"
														 name="email"
														 id="form-email"
														 inputmode="email"
														 placeholder="user@mail.com"
											>
										</div>
										<div class="project-input">
											<label for="form-message">Tell us about your requirements</label>
											<textarea name="message" id="form-message" placeholder="I’m interested in Synalyt..."></textarea>
										</div>
									</div>
									<div class="buttons column-type form-sec__form-buttons">
										<button class="btn second-type">
											Send message
										</button>
									</div>
								</div>
								<div data-aos="fade-right" class="content-element body-text-20 cl-grey form-sec__second-text form-sec__second-text--mob">
									<p>
										Technical issues or product questions?
									</p>
									<p>
										You can send email us<br> at <a href="mailto:support@synalyt.com">support@synalyt.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>

			<%- include('html/footer.ejs') %>

			<div id="request-popup" class="popup request-popup">
				<div class="popup-block request-popup__block">
					<div data-simplebar class="popup-block__scroll request-popup__scroll">
						<div class="popup-wrap request-popup__wrap">
							<h3 class="popup-title heading-64">
								Leave a <strong class="highlight-words">request</strong>
							</h3>
							<div class="content-element body-text-20 cl-grey popup-text">
								<p>
									To login, follow your company link, which you received when registering. Or enter your email and we will redirect you to the login page.
								</p>
							</div>
							<form class="popup-form">
								<div class="popup-form__grid">
									<div class="project-input">
										<label for="request-popup-name">Your name</label>
										<input type="email"
													 name="name"
													 id="request-popup-name"
													 inputmode="text"
													 placeholder="Name"
										>
									</div>
									<div class="project-input">
										<label for="request-popup-email">Email</label>
										<input type="email"
													 name="email"
													 id="request-popup-email"
													 inputmode="email"
													 placeholder="user@mail.com"
										>
									</div>
								</div>
								<div class="buttons popup-form__buttons">
									<button class="btn">
										Send
									</button>
									<div data-popup-close class="btn second-type">
										Cancel
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div data-popup-close class="popup-bg"></div>
			</div>

			<div id="get-started-popup" class="popup full-page-popup">
				<div class="popup-header">
					<div class="popup-header__wrap">
						<a href="#" class="popup-logo">
							<img src="./images/logo.svg" alt="Logo">
						</a>
					</div>
				</div>
				<div class="popup-block full-page-popup__block">
					<div data-simplebar class="popup-block__scroll full-page-popup__scroll">
						<div class="popup-wrap full-page-popup__wrap">
							<div class="full-page-popup__back-wr">
								<div data-popup-close class="full-page-popup__back">
									<i class="icon-arrow-prev"></i> Back
								</div>
							</div>

							<div class="full-page-popup__content">
								<h3 class="popup-title heading-64">
									Get <strong class="highlight-words">started</strong>
								</h3>
								<h4 class="heading-28 popup-subtitle">
									with your email adress
								</h4>
								<div class="content-element body-text-20 cl-grey popup-text">
									<p>
										To login, follow your company link, which you received when registering. Or enter your email and we will redirect you to the login page.
									</p>
								</div>
								<form class="popup-form">
									<div class="popup-form__grid">
										<div class="project-input">
											<label for="full-popup-start-email">Email</label>
											<input type="email"
														 name="email"
														 id="full-popup-start-email"
														 inputmode="email"
														 placeholder="user@mail.com"
											>
										</div>
									</div>
									<div class="buttons popup-form__buttons">
										<button class="btn second-type">
											Submit
										</button>
									</div>
								</form>
							</div>

							<div class="full-page-popup__line">
								<div class="heading-64 full-page-popup__line-title">
									or
								</div>
							</div>

							<div class="full-page-popup__content">
								<h3 class="popup-title heading-64">
									<strong class="highlight-words">Register</strong> now
								</h3>
								<h4 class="heading-28 popup-subtitle">
									to continue
								</h4>
								<div class="content-element body-text-20 cl-grey popup-text">
									<p>
										Please fill out the form to continue working<br class="max-xl:hidden"> with <strong class="highlight-words">SYNALYT</strong>.
									</p>
								</div>
								<form class="popup-form xl:pt-[32px]">
									<div class="popup-form__grid">
										<div class="project-input">
											<label for="full-popup-register-company">Your company</label>
											<input type="email"
														 name="company"
														 id="full-popup-register-company"
														 inputmode="text"
														 placeholder="Company"
											>
										</div>
										<div class="project-input">
											<label for="full-popup-register-name">Your name</label>
											<input type="email"
														 name="name"
														 id="full-popup-register-name"
														 inputmode="text"
														 placeholder="Name"
											>
										</div>
										<div class="project-input">
											<label for="full-popup-register-phone">Your phone</label>
											<input type="tel"
														 name="phone"
														 id="full-popup-register-phone"
														 inputmode="tel"
														 placeholder="+38"
											>
										</div>
										<div class="project-input">
											<label for="full-popup-register-email">Email</label>
											<input type="email"
														 name="email"
														 id="full-popup-register-email"
														 inputmode="email"
														 placeholder="user@mail.com"
											>
										</div>
										<div class="project-input password-input">
											<label for="full-popup-register-password">Password</label>
											<div class="password-input__container">
												<input type="password"
															 name="password"
															 id="full-popup-register-password"
															 inputmode="text"
															 placeholder="Password"
												>
												<div class="password-input__btn">
													<i class="icon-show"></i>
													<i class="icon-show-off hidden"></i>
												</div>
											</div>
										</div>
										<div class="project-input password-input">
											<label for="full-popup-register-confirm-password">Confirm password</label>
											<div class="password-input__container">
												<input type="password"
															 name="confirm_password"
															 id="full-popup-register-confirm-password"
															 inputmode="text"
															 placeholder="Password"
												>
												<div class="password-input__btn">
													<i class="icon-show"></i>
													<i class="icon-show-off hidden"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="buttons popup-form__buttons">
										<button class="btn">
											Register
										</button>
									</div>
								</form>
							</div>

							<div class="full-page-popup__back-wr">
								<div data-popup-close class="full-page-popup__back">
									<i class="icon-arrow-prev"></i> Back
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-popup-close class="popup-bg"></div>
			</div>

			<div id="channels-popup" class="popup channels-popup">
				<div class="popup-block channels-popup__block">
					<div data-popup-close class="channels-popup__close">
						<i class="icon-close-circle"></i>
					</div>
					<div data-simplebar class="popup-block__scroll channels-popup__scroll">
						<div class="popup-wrap channels-popup__wrap">
							<div class="channels-popup__list">
								<a href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-1.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-2.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-3.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-4.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-5.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-6.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-7.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-8.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-9.svg" alt="Logo">
								</a>
								<a target="_blank" href="#" class="channels-popup__logo-link">
									<img src="./images/channel-logo-10.svg" alt="Logo">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div data-popup-close class="popup-bg"></div>
			</div>
		</div>

		<%- include('html/html-bottom.ejs') %>
	</body>
</html>
